/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url('img/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid white;

    background-color: rgba(26, 36, 11, 0.685);
}

#display {
    background-color: azure;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    border: 2px solid white;
    
    background-color: rgba(255, 255, 255, 0.164);
    color: rgb(255, 255, 255);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid white;
    
    background-color: rgba(255, 255, 255, 0.164);
    color: rgb(255, 255, 255);

    cursor: pointer;
}

.button:hover {
    border: none;
    
    background-color: rgb(84, 119, 31);
    color: rgb(170, 166, 166);
}

/* S C R E E N   S I Z E S */

/* M O B I L E */

@media only screen and (max-width: 640px) {

    /* Container & body (MOBILE) */

    body {
        padding: 2.5% 0;
    }

    #container {
        width: 95%;

        padding: 2%;

        border-radius: 3vw;
    }
    
    /* Display (MOBILE) */

    #display {
        width: 100%;
        height: 35vw;

        padding: 3% 3%;

        margin-bottom: 3%;

        border-radius: 2vw;
    }

    #upper {
        display: flex;
        justify-content: flex-end;

        width: 100%;

        height: 40%;

        font-size: 7.5vw;
    }

    #lower {
        display: flex;
        justify-content: flex-end;

        width: 100%;

        height: 60%;

        font-size: 15vw;
    }

    /* Buttons (MOBILE) */

    #buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        width: 14vw;
        height: 14vw;        

        margin-bottom: 2%;

        font-size: 8vw;

        border-radius: 1.5vw;
    }

    #buttons > button:nth-child(20) {
        width: 36.5vw;
        height: 14vw;
    }

    #buttons > button:nth-child(21) {
        width: 36.5vw;
        height: 14vw;
    }
}

/* T A B L E T */
@media only screen and (min-width: 641px) and (max-width: 1007px) {

    /* Container & body (TABLET) */

    body {
        padding: 2.5% 0;
    }

    #container {
        width: 65%;

        padding: 2%;

        border-radius: 3vw;
    }
    
    /* Display (TABLET) */

    #display {
        width: 100%;
        height: 20vw;

        padding: 3% 3%;

        margin-bottom: 3%;

        border-radius: 2vw;
    }

    #upper {
        display: flex;
        justify-content: flex-end;

        width: 100%;

        height: 40%;

        font-size: 5vw;
    }

    #lower {
        display: flex;
        justify-content: flex-end;

        width: 100%;

        height: 60%;

        font-size: 10vw;
    }

    /* Buttons (TABLET) */

    #buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        width: 9.5vw;
        height: 8vw;        

        margin-bottom: 1.15%;

        font-size: 4.5vw;

        border-radius: 1.5vw;
    }

    #buttons > button:nth-child(20) {
        width: 25vw;
        height: 8vw;
    }

    #buttons > button:nth-child(21) {
        width: 25vw;
        height: 8vw;
    }
}

/* D E S K T O P */
@media only screen and (min-width: 1008px) {

    /* Container & body (DESKTOP) */

    body {
        padding: 2.5% 0;
    }

    #container {
        width: 65%;

        padding: 2%;

        border-radius: 3vw;
    }
    
    /* Display (DESKTOP) */

    #display {
        width: 100%;
        height: 15vw;

        padding: 3% 3%;

        margin-bottom: 3%;

        border-radius: 2vw;
    }

    #upper {
        display: flex;
        justify-content: flex-end;

        width: 100%;

        height: 40%;

        font-size: 4vw;
    }

    #lower {
        display: flex;
        justify-content: flex-end;

        width: 100%;

        height: 60%;

        font-size: 8vw;
    }

    /* Buttons (DESKTOP) */

    #buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .button {
        width: 9.5vw;
        height: 5vw;        

        margin-bottom: 1.25%;

        font-size: 3.5vw;

        border-radius: 1.5vw;
    }

    #buttons > button:nth-child(20) {
        width: 25vw;
        height: 5vw;
    }

    #buttons > button:nth-child(21) {
        width: 25vw;
        height: 5vw;
    }
}